body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
div.footer {
    background-color: black;
    text-align: right;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}
p.italic {
    color: rgb(148, 148, 148);
    font-style: italic;
}
a:link{
    color: white;
}
a:hover{
    color: green;
}
a:visited{
    color: grey;
}
img.curved {
    width: 500px;
    border-radius: 5%;
}